NET ZOUT LOC = G1;
NET ZOUT LOC = P4;
NET ZOUT LOC = N4;
NET ZOUT LOC = N5;

NET A LOC = N3;
NET A LOC = E2;
NET A LOC = F3;
NET A LOC = G3;

NET B LOC = K3;
NET B LOC = L3;
NET B LOC = P11;
NET B LOC = B4;

NET SEL LOC = G12;
